.map {
  height: 100vh;
}

.leaflet-tile {
  filter: url(#map-filter);
}

.leaflet-control > a {
  background-color: #3b3b3b;
  color: #2abbbb;
  border: none;
}

.leaflet-control-attribution {
  display: none;
}

.marker-ok {
  width: 20px;
  height: 20px;
  background-color: #52c41a;
  border-radius: 10px;
}

.marker-maintenance {
  width: 20px;
  height: 20px;
  background-color: #faad14;
  border-radius: 10px;
}

.marker-alarm {
  width: 20px;
  height: 20px;
  background-color: #f5222d;
  border-radius: 10px;
  transition: transform 0.8s;
}

.marker-selected {
  border: 1px solid white;
  border-radius: 0;
  transform: scale(1.25);
}

.map-alarms-container {
  position: absolute;
  bottom: 20px;
  background: #262d2d;
  width: 450px;
  height: 200px;
  border-radius: 5px;
  margin-left: 20px;
  transition: opacity 2s ease-out;
  opacity: 0.2;
  z-index: 1100;
}

.map-alarms-container:hover {
  opacity: 0.8;
  transition: opacity 0.5s ease-in;
}

.map-alarms-content {
  padding: 10px;
}

.map-alarms-content > p > span {
  padding-right: 5px;
}

.map-site-list-header {
  background-color: #262d2d;
  display: flex;
}
.map-site-list {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.map-site-list-item {
  margin-left: 5px;
  cursor: pointer;
  color: #2abbbb !important;
}
