.map {
  height: 100vh;
}

.leaflet-tile {
  filter: url(#map-filter);
}

.leaflet-control > a {
  background-color: #3b3b3b;
  color: #2abbbb;
  border: none;
}

.leaflet-control-attribution {
  display: none;
}

.marker-ok {
  width: 20px;
  height: 20px;
  background-color: #52c41a;
  border-radius: 10px;
}

.marker-maintenance {
  width: 20px;
  height: 20px;
  background-color: #faad14;
  border-radius: 10px;
}

.marker-alarm {
  width: 20px;
  height: 20px;
  background-color: #f5222d;
  border-radius: 10px;
  transition: transform 0.8s;
}

.marker-selected {
  border: 1px solid white;
  border-radius: 0;
  transform: scale(1.25);
}
