@import '../../styles/Variables.sass'

.StatusContainer
    overflow-y: auto
.SiteRow
    padding: 0 0 5px 10px
.DropdownInput
    padding: 10px
.Dropdown
    background: $dark
    padding: 5px 0 5px 10px
.SiteView
    margin-top: 10px
    min-height: 250px
    overflow-y: auto
    overflow-x: hidden
.SiteViewHeader
    background: $dark
    word-wrap: break-word
    padding: 10px 10px 10px 20px
.SiteViewParagraph
    padding: 10px 20px
.AlarmsContainer
    position: absolute
    bottom: 20px
    background: #262d2d
    width: 450px
    height: 200px
    border-radius: 5px
    margin-left: 20px
    transition: opacity 2s ease-out
    opacity: 0.2
    z-index: 800
    span
        padding-right: 5px
.AlarmsContent
    overflow-y: auto
    position: absolute
    width: 100%
    height: 100%
    bottom: 0px
    left: 0px
    padding: 10px
.AlarmsContainer:hover
    opacity: 0.8
    transition: opacity 0.5s ease-in
