@import  '../../styles/variables.sass'
// for mobile
.ant-drawer-header 
    position: relative
    padding: 15px!important
    border-bottom: 1px solid grey!important
    background: rgba(27, 27, 29, .95)!important
    border-radius: 0!important
// .ant-drawer-header-no-title,.ant-drawer-body,.ant-drawer-close
//     color: white!important
.sidebar,.ant-menu-sub,.ant-menu-submenu-popup
    background: $dark!important
.bottom-menu-item
    position: absolute!important
    bottom: 0
    left: 0
    width: 100% 
li.ant-menu-item:hover,.ant-menu-item-active > a
    background-color: $info-color
    transition: linear .2s
    color: white!important
.ant-menu-vertical
    border-right: 1px solid #1b1b1d
.ant-menu-item > a > i,.ant-menu-item > span > i
    font-size: 20px!important
    opacity: .5
    text-align: center
.ant-menu-item > a,.ant-menu-item > span 
    font-size: 14px
    margin: 0
    display: block
    height: auto
    white-space: nowrap
    font-weight: 600

.user-profile
    position: relative
  
.ant-menu-inline-collapsed > .logo-item
    margin-left: 15px
    > span
          display: none
.logo-item
    padding-bottom: 20px
    margin: 20px auto 0
    position: relative
.logo-item > span
    color: $info-color
    font-weight: 500
    font-size: 18px
.logo
    margin-left: 10px
    width: 32px
    height: 32px
.title-flex
    display: flex
    align-items: center
    & > i
        margin-right: 10px
.ant-statistic-content-prefix 
    margin-right: 10px!important

//mobile
.mobile-menu
    display: none

.btn-map
    position: absolute!important
    bottom: 20px
    z-index: 100
    left: 220px
    background: #00000085
.list-map
    position: absolute!important
    bottom: 20px
    z-index: 100
    left: 220px
    background: #1b1b1de6
    border-color: #18707087!important
.list-map > .ant-list-header
    border-color: #18707087!important
.list-map >.ant-spin-nested-loading > .ant-spin-container > .ant-list-item
    border-color: #18707087
    padding-top: 4px
    padding-bottom: 4px