html,
body,
.idDiv {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #192222;
}

::-webkit-scrollbar-thumb {
  background: #262d2d;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #192222 inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #2abbbb;
}

.is-link {
  cursor: pointer;
  color: #2abbbb;
}
