@import '../../node_modules/ol/ol.css'
@import './scrollbar.css'
@import './variables'
@import './Overrides'
body,html, .idDiv
    height: 100%

@media only screen and (max-width: 768px)
    .ant-layout-sider
        position: absolute!important
        left: 0px
        z-index: 9999
        top: 0
        width: calc(100vw - 80px)!important
        height: 100%
    .mobile-menu
        display: block!important