@import './variables'
body,html, .idDiv
    height: 100%
    
.ant-layout
    background: #f4f3ef !important
#marker 
    width: 20px
    height: 20px
    border: 1px solid red
    border-radius: 10px
    background-color: red
    opacity: 0.5
      