.ant-page-header
    background: $dark!important
.ant-layout
    background: $background!important
.ant-drawer-content
    background: rgba(27, 27, 29, .95)!important
.ant-layout-sider
    background: transparent
    box-shadow: 2px 0px 20px 0px #001010
    z-index: 1
// Drawer
.has-text-white > 
.ant-list-item-meta-content >
.ant-list-item-meta-description 
    color: white!important
.ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover
    background: $primary-color!important
.ant-empty-small
    color: $text-color-secondary!important
.ant-calendar-next-month-btn-day .ant-calendar-date
    color: $heading-color!important
.ant-calendar-last-month-cell .ant-calendar-date,
.ant-calendar-picker-icon,.ant-calendar-picker-clear:hover
    color: $text-color-secondary!important
.ant-table-thead > tr > th,
.ant-pagination-prev .ant-pagination-item-link,
.ant-calendar,.ant-calendar-input,
.ant-transfer-list-header,
.ant-pagination-next .ant-pagination-item-link,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td,
.ant-input
    background: $dark!important
