.ant-page-header
    background: $dark!important
.ant-layout,.ant-transfer-list-header
    background: $background!important
.ant-drawer-content
    background: rgba(27, 27, 29, .95)!important
.ant-layout-sider
    background: $sidebar!important
    //box-shadow: 2px 0px 20px 0px #001010
    z-index: 1
.ant-menu-inline,.ant-menu-vertical
    border-right: 1px solid  $border-color-base!important
.ant-page-header
    border-bottom: 1px solid $border-color-base
.has-text-white > 
.ant-list-item-meta-content >
.ant-list-item-meta-description 
    color: white!important
.ant-transfer-list-content-item:not(.ant-transfer-list-content-item-disabled):hover
    background: $primary-color!important
.ant-empty-small,.ant-empty-description
    color: $text-color-secondary!important
.ant-calendar-next-month-btn-day .ant-calendar-date
    color: $heading-color!important
.ant-calendar-last-month-cell .ant-calendar-date,
.ant-calendar-picker-icon,.ant-calendar-picker-clear:hover
    color: $text-color-secondary!important
.ant-pagination-prev .ant-pagination-item-link,
.ant-calendar,.ant-calendar-input,
.ant-pagination-next .ant-pagination-item-link,
.ant-input,.ant-table-placeholder,
.ant-notification-notice,
.ant-select-selection,
.ant-modal-content,.ant-modal-header,.ant-select-dropdown,
.ant-popover-inner,.ant-message-notice-content
    background: $background!important
.sidebar,.ant-menu-sub,.ant-menu-submenu-popup,.ant-card,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr > th
    background: $sidebar!important
.ant-card-bordered,.ant-card-head,.ant-transfer-list-header,
    border-color: $border-color-base!important
.ant-card-head,
    background: $primary-color!important
.ant-transfer
    display: flex
    align-items: center
.ant-transfer-list
    flex: 1
.ant-select-dropdown-menu-item.ant-select-dropdown-menu-item-selected,
.ant-select-dropdown-menu-item-active:hover,
.ant-select-dropdown-menu-item-active,
.ant-select-selection--multiple .ant-select-selection__choice,
    background: $dark-primary!important
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected .ant-select-selected-icon
    color: white!important
.ant-popover-buttons > .ant-btn > span
    color: $dark
.ant-table-tbody > tr > td
    padding: 16px 8px!important
.ant-timeline-item-head-custom
    background: transparent!important
.ant-popover-inner
    border: 1px solid $border-color-base
